*.obj filter=lfs diff=lfs merge=lfs -text
StapledAnastSimTestInterface.unity filter=lfs diff=lfs merge=lfs -text
StapledAnastSimTestPaint.unity filter=lfs diff=lfs merge=lfs -text
Brick_Wall_017_Albedo.png filter=lfs diff=lfs merge=lfs -text
Ground_Grass_001_Albedo.png filter=lfs diff=lfs merge=lfs -text
Ground_Grass_001_Normal.png filter=lfs diff=lfs merge=lfs -text
Crate1.png filter=lfs diff=lfs merge=lfs -text
Crate2.png filter=lfs diff=lfs merge=lfs -text
Crate3.png filter=lfs diff=lfs merge=lfs -text
Knots.DAE filter=lfs diff=lfs merge=lfs -text
Rocks_Albedo.png filter=lfs diff=lfs merge=lfs -text
Rocks_MOS.png filter=lfs diff=lfs merge=lfs -text
Rocks_Normal.png filter=lfs diff=lfs merge=lfs -text
ColonStaples.prefab filter=lfs diff=lfs merge=lfs -text
StapledAnastSimTestStapleLine.unity filter=lfs diff=lfs merge=lfs -text
StapledAnastSim-StapleLine.unity filter=lfs diff=lfs merge=lfs -text
NationalInstruments.DAQmx.dll filter=lfs diff=lfs merge=lfs -text